html{
    background-color: rgb(85, 196, 196);
}
.column1{
    width: 33%;
    float: left;
}
.column2{
    width: 33%;
    float: right;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color:#202123;
}


    